<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->



<!--<div class="position"> <a href="{:url('cate/index',array('cateid'=>1))}">111111111111111111</a> >  </div>-->
<!--<div class="position"> <a href="{:url('cate/index',array('cateid'=>2))}">2222222222</a> >  </div>-->
<!--<div class="position"> <a href="{:url('cate/index',array('cateid'=>3))}">33333333333</a> >  </div>-->
<!--<div class="left">-->
    <!--{volist name="list" id="vo"}-->
    <!--<h3><a target="_blank" href="{:url('article/index',array('arid'=>$vo['id']))}">{$vo.title}</a></h3>-->

    <!--{/volist}-->


    <!--<div class="pages">-->
        <!--<div class="plist" >-->
            <!--{$list->render()}-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->