{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>分类列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->           
            <div class="row">
                <div class="col-sm-12">   
                <div  class="col-sm-2" style="width: 100px">
                    <div class="input-group" >  
                        <a href="{:url('add')}"><button class="btn btn-outline btn-primary" type="button">添加分类</button></a>
                    </div>
                </div>                                                                    
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th>ID</th>
                                <th>名称</th>
                                <th>排序</th>
                                <th>状态</th>
                                <th width="15%">添加时间</th>
                                <th width="15%">更新时间</th>
                                <th width="20%">操作</th>
                            </tr>
                        </thead>
                        <tbody id="list-content">

                        </tbody>
                    </table>
                    {include file="public/footer_page" /}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>
{include file="public/footer" /}

<script type="text/javascript">
    /**
     * [Ajaxpage laypage分页]
     * @param {[type]} curr [当前页]
     */
    Ajaxpage();

    function Ajaxpage(curr) {
        var page = curr || 1;
        var data = $('form[name="admin_list_sea"]').serialize()+"&page="+page;

        $.getJSON('{:url("index")}', data,
            function (data) {      //data是后台返回过来的JSON数据
                $(".spiner-example").css('display', 'none'); //数据加载完关闭动画
                if (data == '') {
                    $("#list-content").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
                    $('#allpage').html('');
                    $('#AjaxPage').html('');
                    $('#listcount').text(0);//总记录数
                } else {
                    $("#list-content").html(data);

                    laypage({
                        cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                        pages: $('#allpagecount').val(),//总页数
                        skip: true,//是否开启跳页
                        skin: '#1AB5B7',//分页组件颜色
                        curr: curr || 1,
                        groups: 5,//连续显示分页数
                        jump: function (obj, first) {
                            if (!first) {
                                Ajaxpage(obj.curr)
                            }
                            $('#allpage').html(',第' + obj.curr + '页，共' + obj.pages + '页');
                            $('#listcount').text($('#count').val());//总记录数
                        }
                    });
                }
            });
    }
</script>
</body>
</html>

